node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.firebase/
web-build/
cors_instructions.txt
.vscode
*.bat
node_modules
*-debug.log
.env
ip.ts
serviceAccount.ts
keystorecredentials.txt

# macOS
.DS_Store
