html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #c490d1;
  font-family: "Arial";
  overflow: hidden;
}

#root {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#app > * {
  margin: 1em;
  color: #b8336a;
}

.logo {
  width: 175px;
  max-width: 175px;
}

.title {
  max-width: 350px;
}

.studio {
  color: #726da8;
  bottom: 0;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#board {
  border: solid 2px white;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

#game h1,
#game h2,
#game h3 {
  text-align: center;
}

#callToAction-text {
  font-style: italic;
}

#banner {
  display: flex;
  justify-content: space-between;
}

#board *, #banner * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dot {
  color: #726da8;
}

#web-footer {
  margin-top: auto;
}

#web-win-message {
  color: white;
  word-wrap: break-word;
}

/* just app store logos on homepage displays as column */
.links:not(#banner>.links):not(#callToAction .links){
  display: flex;
  flex-direction: column;
  align-items: center;
}

#callToAction .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* For mobile phones: */
@media only screen and (max-width: 320px) {
  #coming-soon {
    font-size: 20px;
  }
  #web-footer-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dot {
    visibility: hidden;
  }
}

/* for very small screen widths e.g. iPhone SE */
@media only screen and (min-width: 321px) and (max-width: 560px) {
  #web-footer-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dot {
    visibility: hidden;
  }
}

/* for very small screen heights e.g. iPhone SE */
@media only screen and (max-height: 650px) {
  .logo {
    width: 100px;
  }
  #coming-soon {
    font-size: 20px;
    margin: 0px;
  }
  #callToAction-text {
    font-size: 15px;
  }
  #web-win-message {
    font-size: 18px
  }
}

@media only screen and (max-height: 823px) {
  #callToAction .logo {
    width: 100px;
  }
}
